<?xml version="1.0" encoding="utf-8"?>
<resources>
<integer-array name="config_autoBrightnessLevels">
        <item>2</item>
        <item>10</item>
        <item>30</item>
        <item>40</item>
        <item>50</item>
        <item>60</item>
        <item>80</item>
        <item>85</item>
        <item>110</item>
        <item>150</item>
        <item>200</item>
        <item>260</item>
        <item>380</item>
        <item>500</item>
        <item>700</item>
        <item>900</item>
        <item>1300</item>
        <item>2000</item>
        <item>4000</item>
        <item>6000</item>
        <item>8000</item>
    </integer-array>
<integer-array name="config_autoBrightnessLcdBacklightValues">
        <item>160</item>
        <item>160</item>
        <item>160</item>
        <item>163</item>
        <item>165</item>
        <item>167</item>
        <item>167</item>
        <item>167</item>
        <item>170</item>
        <item>170</item>
        <item>173</item>
        <item>173</item>
        <item>175</item>
        <item>177</item>
        <item>180</item>
        <item>180</item>
        <item>200</item>
        <item>220</item>
        <item>230</item>
        <item>250</item>
        <item>250</item>
        <item>255</item>
    </integer-array>
 <array name="config_tether_dhcp_range" />
    <array name="config_mobile_hotspot_provision_app" />
    <integer-array name="config_tether_upstream_types">
        <item>0</item>
        <item>1</item>
        <item>5</item>
        <item>7</item>
        <item>9</item>
        <item>49</item>
    </integer-array>
    <array name="config_cdma_dun_supported_types" />
    <array name="config_tether_apndata" />
    <array name="config_usbHostBlacklist" />
    <array name="config_serialPorts" />
    <integer-array name="config_longPressVibePattern">
        <item>0</item>
        <item>1</item>
        <item>20</item>
        <item>21</item>
    </integer-array>
    <integer-array name="config_virtualKeyVibePattern">
        <item>0</item>
        <item>10</item>
        <item>20</item>
        <item>30</item>
    </integer-array>
    <integer-array name="config_keyboardTapVibePattern">
        <item>40</item>
    </integer-array>
    <integer-array name="config_clockTickVibePattern">
        <item>125</item>
        <item>30</item>
    </integer-array>
<integer-array name="config_calendarDateVibePattern">
        <item>125</item>
        <item>30</item>
    </integer-array>
    <integer-array name="config_safeModeDisabledVibePattern">
        <item>0</item>
        <item>1</item>
        <item>20</item>
        <item>21</item>
    </integer-array>
    <integer-array name="config_safeModeEnabledVibePattern">
        <item>0</item>
        <item>1</item>
        <item>20</item>
        <item>21</item>
        <item>500</item>
        <item>600</item>
    </integer-array>
    <integer-array name="config_scrollBarrierVibePattern">
        <item>0</item>
        <item>15</item>
        <item>10</item>
        <item>10</item>
    </integer-array>
    <integer-array name="config_autoBrightnessLevels">
        <item>2</item>
        <item>10</item>
        <item>30</item>
        <item>40</item>
        <item>50</item>
        <item>60</item>
        <item>80</item>
        <item>85</item>
        <item>110</item>
        <item>150</item>
        <item>200</item>
        <item>260</item>
        <item>380</item>
        <item>500</item>
        <item>700</item>
        <item>900</item>
        <item>1300</item>
        <item>2000</item>
        <item>4000</item>
        <item>6000</item>
        <item>8000</item>
    </integer-array>
    <integer-array name="config_autoBrightnessLcdBacklightValues">
        <item>160</item>
        <item>160</item>
        <item>160</item>
        <item>163</item>
        <item>165</item>
        <item>167</item>
        <item>167</item>
        <item>167</item>
        <item>170</item>
        <item>170</item>
        <item>173</item>
        <item>173</item>
        <item>175</item>
        <item>177</item>
        <item>180</item>
        <item>180</item>
        <item>200</item>
        <item>220</item>
        <item>230</item>
        <item>250</item>
        <item>250</item>
        <item>255</item>
    </integer-array>
<integer-array name="config_defaultNotificationVibePattern">
        <item>0</item>
        <item>350</item>
        <item>250</item>
        <item>350</item>
    </integer-array>
    <integer-array name="config_notificationFallbackVibePattern">
        <item>0</item>
        <item>100</item>
        <item>150</item>
        <item>100</item>
    </integer-array>




</resources>
